td{
  padding-left: 15px;
  padding-right: 15px;
}

table {
  border-collapse: collapse;
}

table, tr {
  border: 1px solid #33ccff;
  text-align: center;
}

th{
 text-align: center;
}

.fontchange{

    font-family: 'Dancing Script', cursive;
}



#goodr{
  color: #33cc00;
}

#midr{
  color:  #ffbb33;
}
#badr{
  color:#ff3300;
}

.sign{
  font-family: 'Caveat', cursive;
}

.insurance{
  border: 1px solid #33ccff;
  padding: 15px;
}
