<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Patient Hospitals Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="homepage.html">Hospital Data Webapp</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="pin0.html">Patient Homepage<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pprofile.html">My Profile<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="precord.html">My Records<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pdoc.html">My Doctors<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pinsur.html">My Insurance<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pmed.html">My Medicine<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="phos.html">My Hospitals<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
  </li>


  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tools
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="nearbyhos.html">Hospitals Near Me</a>
      <a class="dropdown-item" href="docrecommend.html">Doctors Recommended for Me</a>
      <a class="dropdown-item" href="support.html">My Support Group</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="privacy.html" tabindex="-1" aria-disabled="true">Privacy Policy</a>
  </li>
</ul>

</div>
</nav>

    <div class="container">
      <br>
      <h4>My Hospitals</h4>
      <br>
      <table>
        <tr>
          <th> Hospital Name </th>
          <th> Address </th>
          <th> Phone </th>
          <th>  Website  </th>
        </tr>
          {% for record in records%}
          <tr>
            <td>{{record[0]}}</td>
            <td>{{record[1]}}</td>
            <td>{{record[2]}}</td>
            <td> <a href="{{record[3]}}">Direct</a> </td>
          </tr>
          {% endfor %}
      </table>
      <br>
      <br>
      <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">Back</a>
      <a class="btn btn-primary btn-lg" href="homepage.html" role="button">Log Out</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
